openapi: 3.1.0
info:
  title: Watts Electronics Smarthome API (inferred from HAR)
  version: '0.1'
  description: This OpenAPI document was generated by inferring request/response shapes
    from a HAR capture. It may be incomplete or overly strict in some places.
servers:
- url: https://smarthome.wattselectronics.com
- url: https://auth.smarthome.wattselectronics.com
tags:
- name: smarthome
- name: sandbox
- name: user
- name: query
- name: device
- name: auth
- name: api
  description: Endpoints captured from smarthome.wattselectronics.com traffic.
paths:
  /api/v0.1/human/device/apply_program/:
    post:
      tags:
      - device
      summary: Apply a weekly program to a device
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanDeviceApplyProgramRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanDeviceApplyProgramResponse'
  /api/v0.1/human/query/check_failure/:
    post:
      tags:
      - query
      summary: Check for recent command/query failures
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanQueryCheckFailureRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanQueryCheckFailureResponse'
  /api/v0.1/human/query/push/:
    post:
      tags:
      - query
      summary: Send a command/query to a device
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanQueryPushRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanQueryPushResponse'
  /api/v0.1/human/sandbox/check_last_connexion/:
    post:
      tags:
      - sandbox
      summary: Check last connection time
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanSandboxCheckLastConnexionRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanSandboxCheckLastConnexionResponse'
  /api/v0.1/human/sandbox/convert_program/:
    post:
      tags:
      - sandbox
      summary: Convert device program into UI-friendly blocks
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanSandboxConvertProgramRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanSandboxConvertProgramResponse'
  /api/v0.1/human/sandbox/get_current_timestamp/:
    post:
      tags:
      - sandbox
      summary: Get current timestamp
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanSandboxGetCurrentTimestampRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanSandboxGetCurrentTimestampResponse'
  /api/v0.1/human/smarthome/get_errors/:
    post:
      tags:
      - smarthome
      summary: Get smarthome errors
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanSmarthomeGetErrorsRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanSmarthomeGetErrorsResponse'
  /api/v0.1/human/smarthome/read/:
    post:
      tags:
      - smarthome
      summary: Read smarthome state
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanSmarthomeReadRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanSmarthomeReadResponse'
  /api/v0.1/human/smarthome/time_offset/:
    post:
      tags:
      - smarthome
      summary: Get smarthome time offset
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanSmarthomeTimeOffsetRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanSmarthomeTimeOffsetResponse'
  /api/v0.1/human/user/read/:
    post:
      tags:
      - user
      summary: Read user profile and smarthomes
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApiV01HumanUserReadRequest'
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV01HumanUserReadResponse'
  /realms/watts/protocol/openid-connect/token:
    post:
      tags:
      - auth
      summary: OpenID Connect token (password grant)
      servers:
      - url: https://auth.smarthome.wattselectronics.com
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                  - password
                  description: OAuth2 grant type.
                username:
                  type: string
                password:
                  type: string
                  format: password
                client_id:
                  type: string
                  enum:
                  - app-front
              required:
              - grant_type
              - username
              - password
              - client_id
              additionalProperties: true
            example:
              grant_type: password
              username: USERNAME
              password: PASSWORD
              client_id: app-front
      responses:
        '200':
          description: OK (observed in HAR capture)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealmsWattsProtocolOpenidConnectTokenResponse'
      description: Token endpoint using Resource Owner Password Credentials grant
        (as observed/expected by client).
    servers:
    - &id001
      url: https://auth.smarthome.wattselectronics.com
  /realms/watts/account:
    get:
      operationId: get_auth_smarthome_wattselectronics_com_realms_watts_account
      summary: Inferred from HAR traffic
      tags:
      - auth
      responses:
        '200':
          description: Inferred response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  username:
                    type: string
                  email:
                    type: string
                  emailVerified:
                    type: boolean
                  attributes:
                    type: object
                    properties:
                      lang_code:
                        type: array
                        items:
                          type: string
                      optin_stats:
                        type: array
                        items:
                          type: string
                      user_id:
                        type: array
                        items:
                          type: string
                      cgu_id:
                        type: array
                        items:
                          type: string
                      state:
                        type: array
                        items:
                          type: string
                      date_creation:
                        type: array
                        items:
                          type: string
                    additionalProperties: true
                    required:
                    - lang_code
                    - optin_stats
                    - user_id
                    - cgu_id
                    - state
                    - date_creation
                  userProfileMetadata:
                    type: object
                    properties:
                      attributes:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            required:
                              type: boolean
                            readOnly:
                              type: boolean
                            validators:
                              type: object
                              properties:
                                username-prohibited-characters:
                                  type: object
                                  properties:
                                    ignore.empty.value:
                                      type: boolean
                                  additionalProperties: true
                                  required:
                                  - ignore.empty.value
                                multivalued:
                                  type: object
                                  properties:
                                    max:
                                      type: string
                                  additionalProperties: true
                                  required:
                                  - max
                                length:
                                  type: object
                                  properties:
                                    max:
                                      type: integer
                                    ignore.empty.value:
                                      type: boolean
                                    min:
                                      type: integer
                                  additionalProperties: true
                                  required:
                                  - max
                                  - ignore.empty.value
                                  - min
                                up-username-not-idn-homograph:
                                  type: object
                                  properties:
                                    ignore.empty.value:
                                      type: boolean
                                  additionalProperties: true
                                  required:
                                  - ignore.empty.value
                              additionalProperties: true
                              required:
                              - username-prohibited-characters
                              - multivalued
                              - length
                              - up-username-not-idn-homograph
                            multivalued:
                              type: boolean
                          additionalProperties: true
                      groups:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            displayHeader:
                              type: string
                            displayDescription:
                              type: string
                          additionalProperties: true
                    additionalProperties: true
                    required:
                    - attributes
                    - groups
                additionalProperties: true
                required:
                - id
                - username
                - email
                - emailVerified
                - attributes
                - userProfileMetadata
              example:
                id: b896e2cd-8ec5-4832-993d-faa307bb9849
                username: w.j.vegt@gmail.com
                email: w.j.vegt@gmail.com
                emailVerified: true
                attributes:
                  lang_code:
                  - en_GB
                  optin_stats:
                  - '0'
                  user_id:
                  - dy5qLnZlZ3RAZ21haWwuY29t
                  cgu_id:
                  - '6'
                  state:
                  - '1'
                  date_creation:
                  - '2022-12-03T17:53:45.856'
                userProfileMetadata:
                  attributes:
                  - name: username
                    displayName: ${username}
                    required: true
                    readOnly: true
                    validators:
                      username-prohibited-characters:
                        ignore.empty.value: true
                      multivalued:
                        max: '1'
                      length:
                        max: 255
                        ignore.empty.value: true
                        min: 3
                      up-username-not-idn-homograph:
                        ignore.empty.value: true
                    multivalued: false
                  - name: email
                    displayName: ${email}
                    required: true
                    readOnly: false
                    validators:
                      multivalued:
                        max: '1'
                      length:
                        max: 255
                        ignore.empty.value: true
                      email:
                        ignore.empty.value: true
                    multivalued: false
                  - name: firstName
                    displayName: ${firstName}
                    required: true
                    readOnly: false
                    validators:
                      person-name-prohibited-characters:
                        ignore.empty.value: true
                      multivalued:
                        max: '1'
                      length:
                        max: 255
                        ignore.empty.value: true
                    multivalued: false
                  - name: lastName
                    displayName: ${lastName}
                    required: true
                    readOnly: false
                    validators:
                      person-name-prohibited-characters:
                        ignore.empty.value: true
                      multivalued:
                        max: '1'
                      length:
                        max: 255
                        ignore.empty.value: true
                    multivalued: false
                  groups:
                  - name: user-metadata
                    displayHeader: User metadata
                    displayDescription: Attributes, which refer to user metadata
    servers:
    - *id001
  /api/v0.1/human/smarthome/user_manual/:
    get:
      operationId: get_smarthome_wattselectronics_com_api_v0_1_human_smarthome_user_manual
      summary: Inferred from HAR traffic
      tags:
      - api
      responses:
        '200':
          description: Inferred response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: object
                    properties:
                      code:
                        type: string
                      key:
                        type: string
                      value:
                        type: string
                    additionalProperties: true
                    required:
                    - code
                    - key
                    - value
                  data:
                    type: object
                    properties:
                      response:
                        type: string
                    additionalProperties: true
                    required:
                    - response
                additionalProperties: true
                required:
                - code
                - data
              example:
                code:
                  code: '1'
                  key: OK
                  value: OK
                data:
                  response: https://wattswater.eu/technical-support/user-manual/regulation-and-control/6614/
      security:
      - bearerAuth: []
  /api/v0.1/human/sandbox/get_db_version/:
    post:
      operationId: post_smarthome_wattselectronics_com_api_v0_1_human_sandbox_get_db_version
      summary: Inferred from HAR traffic
      tags:
      - api
      responses:
        '200':
          description: Inferred response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: object
                    properties:
                      code:
                        type: string
                      key:
                        type: string
                      value:
                        type: string
                    additionalProperties: true
                    required:
                    - code
                    - key
                    - value
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                      db_version_id:
                        type: string
                      state:
                        type: string
                      version:
                        type: string
                    additionalProperties: true
                    required:
                    - date
                    - db_version_id
                    - state
                    - version
                additionalProperties: true
                required:
                - code
                - data
              example:
                code:
                  code: '1'
                  key: OK
                  value: OK
                data:
                  date: '2024-10-15 00:00:00'
                  db_version_id: '3'
                  state: '1'
                  version: '3.0'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                '0':
                  type: string
                lang:
                  type: string
              additionalProperties: true
              required:
              - '0'
              - lang
            example:
              '0': '0'
              lang: en_GB
      security:
      - bearerAuth: []
  /api/v0.1/human/user/get_lang/:
    post:
      operationId: post_smarthome_wattselectronics_com_api_v0_1_human_user_get_lang
      summary: Inferred from HAR traffic
      tags:
      - api
      responses:
        '200':
          description: Inferred response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: object
                    properties:
                      code:
                        type: string
                      key:
                        type: string
                      value:
                        type: string
                    additionalProperties: true
                    required:
                    - code
                    - key
                    - value
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          code:
                            type: string
                          code_2d:
                            type: string
                          description:
                            type: string
                          language_id:
                            type: string
                          state:
                            type: integer
                        additionalProperties: true
                        required:
                        - code
                        - code_2d
                        - description
                        - language_id
                        - state
                    additionalProperties: true
                    required:
                    - user
                additionalProperties: true
                required:
                - code
                - data
              example:
                code:
                  code: '1'
                  key: OK
                  value: OK
                data:
                  user:
                    code: en_GB
                    code_2d: en_GB
                    description: English
                    language_id: '2'
                    state: 1
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                lang:
                  type: string
              additionalProperties: true
              required:
              - token
              - lang
            example:
              token: eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJOakQ0dXNnVkpla3JkQVlJQ1VXOG83YWxvdUxxQURTQUxfRFJqQUNyWEs0In0.eyJleHAiOjE3NzEwMDk1ODYsImlhdCI6MTc3MTAwOTI4NiwianRpIjoiZTIyYTkyM2ItZjBmNS00ZTNmLWE5ZjAtZDhmNzViNTNmYzZlIiwiaXNzIjoiaHR0cHM6Ly9hdXRoLmFrcy5tdXR1YWxpemVkLndhdHRzZWxlY3Ryb25pY3MuY29tL3JlYWxtcy93YXR0cyIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiJiODk2ZTJjZC04ZWM1LTQ4MzItOTkzZC1mYWEzMDdiYjk4NDkiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJhcHAtZnJvbnQiLCJzaWQiOiIyODQyNWIyNS1hNzdmLTQyNzctODNkYy1iZWRkZjBmMmMxNDEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiKiJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiZGVmYXVsdC1yb2xlcy13YXR0cyIsIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iXX0sInJlc291cmNlX2FjY2VzcyI6eyJhY2NvdW50Ijp7InJvbGVzIjpbIm1hbmFnZS1hY2NvdW50IiwibWFuYWdlLWFjY291bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJzY29wZSI6InByb2ZpbGUgZW1haWwiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwibGFuZ19jb2RlIjoiZW5fR0IiLCJ1c2VyX2lkIjoiZHk1cUxuWmxaM1JBWjIxaGFXd3VZMjl0Iiwib3B0aW5fc3RhdHMiOiIwIiwiY2d1X2lkIjoiNiIsInByZWZlcnJlZF91c2VybmFtZSI6Incuai52ZWd0QGdtYWlsLmNvbSIsInN0YXRlIjoiMSIsImVtYWlsIjoidy5qLnZlZ3RAZ21haWwuY29tIiwiZGF0ZV9jcmVhdGlvbiI6IjIwMjItMTItMDNUMTc6NTM6NDUuODU2In0.ZCJ0QQ2ydKjhirDLc-tP2bCXHSEQNjGC17xBVPnE-bfjYp3f9EnBJpd2LHjNNlKtYtAU0PTNXGzdun21fmoFo6xBmYeiZunYHRp8V1g50tNHhMS1ZfxmrKbqAdX7C0m9rH5KcKWgKx8sIKbfEdGnBeBNtC4TOdGYVdgUPZHkmi1OIF_hxiZ0lWrATXR82-7JmicClw4YduQkKc-RRvjruiy5drZrEB47bIHHHy6bYsOC7LA1NG6jjvRRM4HYuFDQ4oNpoU3Pbbs9-f5Gt1dD2j7jGVrQSlGy-nCHmoJIfS5wd_ZFTELYa5T6LDKAPE3Rq6g61XOMMNt8WFtoeUX78A
              lang: en_GB
      security:
      - bearerAuth: []
  /api/v0.1/human/mobile/read_demo/:
    post:
      operationId: post_smarthome_wattselectronics_com_api_v0_1_human_mobile_read_demo
      summary: Inferred from HAR traffic
      tags:
      - api
      responses:
        '200':
          description: Inferred response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: object
                    properties:
                      code:
                        type: string
                      key:
                        type: string
                      value:
                        type: string
                    additionalProperties: true
                    required:
                    - code
                    - key
                    - value
                  data:
                    type: object
                    properties:
                      datas_base:
                        type: object
                        properties:
                          bundle:
                            type: object
                            properties:
                              desc:
                                type: object
                                properties:
                                  '0':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        nullable: true
                                      CHARACTER_OCTET_LENGTH:
                                        nullable: true
                                      NUMERIC_PRECISION:
                                        type: string
                                      NUMERIC_SCALE:
                                        type: string
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        nullable: true
                                      COLLATION_NAME:
                                        nullable: true
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '1':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        type: string
                                      CHARACTER_OCTET_LENGTH:
                                        type: string
                                      NUMERIC_PRECISION:
                                        nullable: true
                                      NUMERIC_SCALE:
                                        nullable: true
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        type: string
                                      COLLATION_NAME:
                                        type: string
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '2':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        type: string
                                      CHARACTER_OCTET_LENGTH:
                                        type: string
                                      NUMERIC_PRECISION:
                                        nullable: true
                                      NUMERIC_SCALE:
                                        nullable: true
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        type: string
                                      COLLATION_NAME:
                                        type: string
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '3':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        type: string
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        type: string
                                      CHARACTER_OCTET_LENGTH:
                                        type: string
                                      NUMERIC_PRECISION:
                                        nullable: true
                                      NUMERIC_SCALE:
                                        nullable: true
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        type: string
                                      COLLATION_NAME:
                                        type: string
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '4':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        type: string
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        nullable: true
                                      CHARACTER_OCTET_LENGTH:
                                        nullable: true
                                      NUMERIC_PRECISION:
                                        type: string
                                      NUMERIC_SCALE:
                                        type: string
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        nullable: true
                                      COLLATION_NAME:
                                        nullable: true
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                additionalProperties: true
                                required:
                                - '0'
                                - '1'
                                - '2'
                                - '3'
                                - '4'
                              datas:
                                type: object
                                properties:
                                  '0':
                                    type: object
                                    properties:
                                      bundle_id:
                                        type: string
                                      bundle_lib:
                                        type: string
                                      bundle_code:
                                        type: string
                                      bundle_desc:
                                        type: string
                                      bundle_state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - bundle_id
                                    - bundle_lib
                                    - bundle_code
                                    - bundle_desc
                                    - bundle_state
                                  '1':
                                    type: object
                                    properties:
                                      bundle_id:
                                        type: string
                                      bundle_lib:
                                        type: string
                                      bundle_code:
                                        type: string
                                      bundle_desc:
                                        type: string
                                      bundle_state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - bundle_id
                                    - bundle_lib
                                    - bundle_code
                                    - bundle_desc
                                    - bundle_state
                                  '2':
                                    type: object
                                    properties:
                                      bundle_id:
                                        type: string
                                      bundle_lib:
                                        type: string
                                      bundle_code:
                                        type: string
                                      bundle_desc:
                                        type: string
                                      bundle_state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - bundle_id
                                    - bundle_lib
                                    - bundle_code
                                    - bundle_desc
                                    - bundle_state
                                  '3':
                                    type: object
                                    properties:
                                      bundle_id:
                                        type: string
                                      bundle_lib:
                                        type: string
                                      bundle_code:
                                        type: string
                                      bundle_desc:
                                        type: string
                                      bundle_state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - bundle_id
                                    - bundle_lib
                                    - bundle_code
                                    - bundle_desc
                                    - bundle_state
                                additionalProperties: true
                                required:
                                - '0'
                                - '1'
                                - '2'
                                - '3'
                            additionalProperties: true
                            required:
                            - desc
                            - datas
                          language:
                            type: object
                            properties:
                              desc:
                                type: object
                                properties:
                                  '0':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        nullable: true
                                      CHARACTER_OCTET_LENGTH:
                                        nullable: true
                                      NUMERIC_PRECISION:
                                        type: string
                                      NUMERIC_SCALE:
                                        type: string
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        nullable: true
                                      COLLATION_NAME:
                                        nullable: true
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '1':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        type: string
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        type: string
                                      CHARACTER_OCTET_LENGTH:
                                        type: string
                                      NUMERIC_PRECISION:
                                        nullable: true
                                      NUMERIC_SCALE:
                                        nullable: true
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        type: string
                                      COLLATION_NAME:
                                        type: string
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '2':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        type: string
                                      CHARACTER_OCTET_LENGTH:
                                        type: string
                                      NUMERIC_PRECISION:
                                        nullable: true
                                      NUMERIC_SCALE:
                                        nullable: true
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        type: string
                                      COLLATION_NAME:
                                        type: string
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '3':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        type: string
                                      CHARACTER_OCTET_LENGTH:
                                        type: string
                                      NUMERIC_PRECISION:
                                        nullable: true
                                      NUMERIC_SCALE:
                                        nullable: true
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        type: string
                                      COLLATION_NAME:
                                        type: string
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '4':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        nullable: true
                                      CHARACTER_OCTET_LENGTH:
                                        nullable: true
                                      NUMERIC_PRECISION:
                                        type: string
                                      NUMERIC_SCALE:
                                        type: string
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        nullable: true
                                      COLLATION_NAME:
                                        nullable: true
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                additionalProperties: true
                                required:
                                - '0'
                                - '1'
                                - '2'
                                - '3'
                                - '4'
                              datas:
                                type: object
                                properties:
                                  '0':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '1':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '2':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '3':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '4':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '5':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '6':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '7':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '8':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '9':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '10':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                  '11':
                                    type: object
                                    properties:
                                      language_id:
                                        type: string
                                      code_2d:
                                        type: string
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      state:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - language_id
                                    - code_2d
                                    - code
                                    - description
                                    - state
                                additionalProperties: true
                                required:
                                - '0'
                                - '1'
                                - '2'
                                - '3'
                                - '4'
                                - '5'
                                - '6'
                                - '7'
                                - '8'
                                - '9'
                                - '10'
                                - '11'
                            additionalProperties: true
                            required:
                            - desc
                            - datas
                          nvgv_mode:
                            type: object
                            properties:
                              desc:
                                type: object
                                properties:
                                  '0':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        nullable: true
                                      CHARACTER_OCTET_LENGTH:
                                        nullable: true
                                      NUMERIC_PRECISION:
                                        type: string
                                      NUMERIC_SCALE:
                                        type: string
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        nullable: true
                                      COLLATION_NAME:
                                        nullable: true
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '1':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        nullable: true
                                      CHARACTER_OCTET_LENGTH:
                                        nullable: true
                                      NUMERIC_PRECISION:
                                        type: string
                                      NUMERIC_SCALE:
                                        type: string
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        nullable: true
                                      COLLATION_NAME:
                                        nullable: true
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '2':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        nullable: true
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        type: string
                                      CHARACTER_OCTET_LENGTH:
                                        type: string
                                      NUMERIC_PRECISION:
                                        nullable: true
                                      NUMERIC_SCALE:
                                        nullable: true
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        type: string
                                      COLLATION_NAME:
                                        type: string
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                  '3':
                                    type: object
                                    properties:
                                      TABLE_CATALOG:
                                        type: string
                                      TABLE_SCHEMA:
                                        type: string
                                      TABLE_NAME:
                                        type: string
                                      COLUMN_NAME:
                                        type: string
                                      ORDINAL_POSITION:
                                        type: string
                                      COLUMN_DEFAULT:
                                        type: string
                                      IS_NULLABLE:
                                        type: string
                                      DATA_TYPE:
                                        type: string
                                      CHARACTER_MAXIMUM_LENGTH:
                                        type: string
                                      CHARACTER_OCTET_LENGTH:
                                        type: string
                                      NUMERIC_PRECISION:
                                        nullable: true
                                      NUMERIC_SCALE:
                                        nullable: true
                                      DATETIME_PRECISION:
                                        nullable: true
                                      CHARACTER_SET_NAME:
                                        type: string
                                      COLLATION_NAME:
                                        type: string
                                      COLUMN_TYPE:
                                        type: string
                                      COLUMN_KEY:
                                        type: string
                                      EXTRA:
                                        type: string
                                      PRIVILEGES:
                                        type: string
                                      COLUMN_COMMENT:
                                        type: string
                                      IS_GENERATED:
                                        type: string
                                      GENERATION_EXPRESSION:
                                        nullable: true
                                    additionalProperties: true
                                    required:
                                    - TABLE_CATALOG
                                    - TABLE_SCHEMA
                                    - TABLE_NAME
                                    - COLUMN_NAME
                                    - ORDINAL_POSITION
                                    - COLUMN_DEFAULT
                                    - IS_NULLABLE
                                    - DATA_TYPE
                                    - CHARACTER_MAXIMUM_LENGTH
                                    - CHARACTER_OCTET_LENGTH
                                    - NUMERIC_PRECISION
                                    - NUMERIC_SCALE
                                    - DATETIME_PRECISION
                                    - CHARACTER_SET_NAME
                                    - COLLATION_NAME
                                    - COLUMN_TYPE
                                    - COLUMN_KEY
                                    - EXTRA
                                    - PRIVILEGES
                                    - COLUMN_COMMENT
                                    - IS_GENERATED
                                    - GENERATION_EXPRESSION
                                additionalProperties: true
                                required:
                                - '0'
                                - '1'
                                - '2'
                                - '3'
                              datas:
                                type: object
                                properties:
                                  '0':
                                    type: object
                                    properties:
                                      nvgv_mode_id:
                                        type: string
                                      num_mode:
                                        type: string
                                      label_mode:
                                        type: string
                                      css_class:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - nvgv_mode_id
                                    - num_mode
                                    - label_mode
                                    - css_class
                                  '1':
                                    type: object
                                    properties:
                                      nvgv_mode_id:
                                        type: string
                                      num_mode:
                                        type: string
                                      label_mode:
                                        type: string
                                      css_class:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - nvgv_mode_id
                                    - num_mode
                                    - label_mode
                                    - css_class
                                  '2':
                                    type: object
                                    properties:
                                      nvgv_mode_id:
                                        type: string
                                      num_mode:
                                        type: string
                                      label_mode:
                                        type: string
                                      css_class:
                                        type: string
                                    additionalProperties: true
                                    required:
                                    - nvgv_mode_id
                                    - num_mode
                                    - label_mode
                                    - css_class
                                  '3':
                                    type: object
                                    properties:
[...]
